{
  "development": {
    "username": "root",
    "password": "",
    "database": "guahao-manager_development",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "test": {
    "username": "root",
    "password": null,
    "database": "database_test",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "production": {
    "username": your username,
    "password": your password,
    "database": "guahao-manager_production",
    "host": your host,
    "dialect": "mysql"
  }
}
